body {
  font-size: 1em;
  line-height: 1.3;
}

h1, h2, h3, h4, p, ul, ol {
  margin: 0 0 1em;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1;
  font-weight: normal;
}

ul, ol {
  padding: 0 0 0 1.5em;
}

.main-container {
  margin: 0 auto;
  width: 96%;
  max-width: 660px;
}

.main-header {
  padding: 2.5em 1.5em 1em;
  color: #fff;
  background: #222;
}

.main-content {
  padding: 1em 1.5em;
}

.main-footer {
  padding: 1em 1.5em;
  border-top: 1px solid #222;
}
